{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="{% static 'task/css/style.css' %}">

</head>

<body>

    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Event Manager</h3>
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="/event"><b>Dashboard</b></a>
                </li>
                <li>
                    <a href="#events" data-toggle="collapse" aria-expanded="false" class=" dropdown-toggle"><b>Events</b></a>
                    <ul class="collapse list-unstyled" id="events">
                        <li>
                            <a href="{% url 'allevents' 'all' %}"><b> All Events </b></a>
                        </li>
                        <li>
                            <a href="{% url 'allevents' 'corporate' %}"><b>Corporate Events</b></a>
                        </li>
                        <li>
                            <a href="{% url 'allevents' 'noncorporate' %}"><b>Non-Corporate Events</b></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><b>Events Status</b></a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="{% url 'eventstatus' 'ACTIVE' %}"><b>ACTIVE</b></a>
                        </li>
                        <li>
                            <a href="{% url 'eventstatus' 'DONE' %}"><b>DONE</b></a>
                        </li>
                        <li>
                            <a href="{% url 'eventstatus' 'UNKNOWN' %}"><b>UNKNOWN</b></a>
                        </li>
                        <li>
                            <a href="{% url 'eventstatus' 'CANCELLED' %}"><b>CANCELLED</b></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#reportmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><b>Reports</b></a>
                    <ul class="collapse list-unstyled" id="reportmenu">
                        <li>
                            <a href="{% url 'reports' 'MONTHLY' %}"><b>Monthly</b></a>
                        </li>
                        <li>
                            <a href="{% url 'reports' 'QUARTERLY' %}"><b>Quarterly</b></a>
                        </li>
                        <li>
                            <a href="{% url 'reports' 'HALF YEARLY' %}"><b>Half Yearly</b></a>
                        </li>
                        <li>
                            <a href="{% url 'reports' 'YEARLY' %}"><b>Yearly</b></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <!-- Page Content Holder -->
        <div id="content">
			
			{% block content %}
			{% endblock %}
        </div>
    </div>
	
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!--Chart Js-->
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
	<!--Js file-->
	<script src="{% static 'task/js/script.js' %}"></script>
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>

</html>