{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

      <button type="button" id="sidebarCollapse" class="navbar-btn">
          <span></span>
<span></span>
<span></span>
      </button>&nbsp;&nbsp;
      <a href="/event/addevent" class="btn" id="newevent">Add New Event</a>
  </div>
</nav>
<div class="container-fluid">
    <div class="row">
      <!-- First Metric -->
      <div class="col-md-6">
        <div class="card">
          <div class="card-body" id="card-title">
            <h5 class="card-title">Upcoming Events</h5>
            <ul class="card-text">
              {% for event in upcoming_events %}
                <a href=""> <li>{{event.event_title}} | {{event.event_type}} | {{event.event_status}} | {{event.event_date}} | {{event.event_description}}</li> </a>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <!-- Second Metric -->
      <div class="col-md-6">
        <div class="card">
          <div class="card-body" id="card-title">
            <h5 class="card-title">Active Events in present Month</h5>
            <ul class="card-text">
              {% for present in present_month_events %}
                <a href=""> <li>{{ present.event_title }} | {{present.event_date}}</li> </a>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">  
      <!-- Third Metric -->
      <div class="col-md-6">
        <div class="card">
          <div class="card-body" id="card-title">
            <h5 class="card-title">Cancelled Events</h5>
            <ul class="card-text">
              {% for c in cancelled_events %}
                <a href=""> <li>{{ c.event_title }} | {{c.event_date}}</li> </a>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-body" id="card-title">
            <h5 class="card-title">Events Completed</h5>
            <ul class="card-text">
              {% for d in done_events %}
                <a href=""> <li>{{ d.event_title }} | {{d.event_date}}</li> </a>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}