{% extends 'base.html' %}
{% load static %}

{% block title %} Edit Event {% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>&nbsp;&nbsp;
        <input type="text" id="myInput" class="form-control" placeholder="search....">&nbsp;&nbsp;
        <a href="/event/allevents" class="btn" id="newevent">All Events</a>
    </div>
</nav>
<div class="container mt-5">
    <h2>Edit Event</h2>
    <form method="POST" action="{% url 'editevent' event.pk %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Event Title</label>
            <input type="text" class="form-control" id="title" name="title" value="{{event.event_title}}" required>
        </div>

        <div class="form-group">
            <label for="eventtype">Event Type</label>
            <select class="form-control" id="eventtype" name="eventtype">
                <option value="{{event.event_type}}">{{event.event_type}}</option>
                <option value="Conferences">Conferences</option>
                <option value="Seminars">Seminars</option>
                <option value="Company Party/Meetings">Company Party/Meetings</option>
                <option value="Product/Service Launch">Product/Service Launch</option>
                <option value="Weddings">Weddings</option>
                <option value="Festivals">Festivals</option>
                <option value="Exhibitions">Exhibitions</option>
                <option value="Charity Events">Charity Events</option>
                <option value="Sports & Competitions">Sports & Competitions</option>
            </select>
        </div>

        <div class="form-group">
            <label for="eventstatus">Event Status</label>
            <select class="form-control" id="eventstatus" name="eventstatus" value="{{event.event_status}}" required>
                <option value="{{event.event_status}}">{{event.event_status}}</option>
                <option value="ACTIVE">ACTIVE</option>
                <option value="DONE">DONE</option>
                <option value="UNKNOWN">UNKNOWN</option>
                <option value="CANCELLED">CANCELLED</option>
            </select>
        </div>

        <div class="form-group">
            <label for="datetime">Event Date & Time</label>
            <input type="datetime-local" class="form-control" id="datetime" name="datetime" value="{{event.event_date}}" required>
        </div>

        <div class="form-group">
            <label for="description">Event Description</label>
            <input type="text" class="form-control" id="description" name="description" value="{{event.event_description}}" required>
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
{% endblock %}

