{% extends 'base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-9">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Your Profile</h4>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form>
                          <div class="form-group row">
                            <label for="username" class="col-4 col-form-label">User Name</label> 
                            <div class="col-8">
                              <input id="username" name="username" placeholder="Username" class="form-control here" value="{{ user.username }}" type="text">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="name" class="col-4 col-form-label">First Name</label> 
                            <div class="col-8">
                              <input id="name" name="firstname" placeholder="First Name" class="form-control here" value="{{ user.first_name }}" type="text">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="lastname" class="col-4 col-form-label">Last Name</label> 
                            <div class="col-8">
                              <input id="lastname" name="lastname" placeholder="Last Name" class="form-control here" value="{{ user.last_name }}" type="text">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="email" class="col-4 col-form-label">Email</label> 
                            <div class="col-8">
                              <input id="email" name="email" placeholder="Email" class="form-control here" value="{{ user.email }}" type="text">
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="offset-4 col-8">
                              <a href="{% url 'update_profile' user.pk %}" class="btn btn-primary">Edit My Profile</a>
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="offset-4 col-8">
                              <a href="{% url 'reset' %}" class="btn btn-primary">Reset Password</a>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}