{% extends 'base.html' %}
{% load static %}

{% block title %}Reports{% endblock %}

{% block content %}
<div class="container">
{% for status,events in statuses.items %}
<section class="border border-info rounded m-3 p-3">
    <h2>{{status}} EVENTS</h2>
    <a href="{% url 'reports' 'allevents' %}" class="btn btn-info m-2"><i class="fa fa-download"></i> All Events</a>
    <a href="{% url 'reports' 'corporate' %}" class="btn btn-info m-2"><i class="fa fa-download"></i> Corporate Events</a>
    <a href="{% url 'reports' 'noncorporate' %}" class="btn btn-info m-2"><i class="fa fa-download"></i> Non-Corporate Events</a>
</section>
{% endfor %}
</div>
{% endblock %}